footer{
    padding-top:20px;
}
.footer__top{
    padding-bottom:20px;
    background-color: #222326;
}
.footerTop__aboutUs{
    color:white;
    
}
.footerTop__aboutUs h3{
    font-size: 25px;
    text-align: left;
    text-transform: uppercase;
    padding-top:45px;
    margin:0;
}
.footerTop__aboutUs p{
    font-size: 15px;
    text-align: left;
    padding-top:30px;
    padding-bottom:30px;
    margin:0;
}
.footerTop__aboutUs ul{
    font-size: 15px;
    margin:0;
    padding:0;
}
.footerTop__aboutUs ul li{
    list-style: none;
    
}
.footerTop__aboutUs ul li span{
    
}
.footerTop__aboutUs ul li span:first-child{
    width:3px;
}
.footerTop__aboutUs ul li:last-child{
    margin-bottom:20px;
}
.footerTop__aboutUsInfo li{
    display:flex;
    
}
.footerTop__aboutUsInfo li span{
    display:block;
    margin:10px;
}
.footerTop_aboutUsNetworkSocial{
 
}
.footerTop_aboutUsNetworkSocial {
    display:grid;
    grid-template-columns: 20px 20px 20px 20px 20px;
    grid-gap:10px;
}
.footerTop_aboutUsNetworkSocial li span{
    display:block;
}


.footerTop__sitemap{
    color:white;
}
.footerTop__sitemap h3{
    padding-top:45px;
    font-size: 25px;
    text-align:left;
    text-transform: uppercase;
    margin:0;
    padding-bottom:30px;
}
.footerTop__sitemap ul{
    font-size:15px;
    padding:0;
    margin:0;
}
.footerTop__sitemap ul li{
    list-style:none;
    
    margin-bottom:25px;
}
.footerTop__sitemap ul li::before{

    content:"\A";
    width:10px;
    height:10px;
    border-radius:50%;
    background: yellow;
    display:inline-block;
    margin-right:10px;
}

.footerTop__sitemap ul li a{
    text-decoration: none;
    color:white;
}
.footerTop__products{}
.footerTop__products h3{
    padding-top:45px;
    color:white;
    font-size: 25px;
    text-align: left;
    text-transform: uppercase;
    margin:0;
}

.footerTop__products ul{
    font-size: 15px;
    padding:0;
    
    
}
.footerTop__products ul li{
    list-style: none;
    margin-bottom:25px;
   
}
.footerTop__products ul li::before{
    content:"\A";
    width:10px;
    height:10px;
    border-radius:50%;
    background: yellow;
    display:inline-block;
    margin-right:10px;
}

.footerTop__products ul li a{
    text-decoration: none;
    color:white;
}
.footerTop__fanpage{}
.footerTop__fanpage h3{
    margin:0;
    padding-top:45px;
    color:white;
    font-size: 25px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom:30px;
}
.footerTop__fanpageImage{}
.footerTop__fanpageImage img{
    width:75%;
}
.footer__bottom{
   height:60px;
    background-color: #1a1c1f;
    color:white;
}

.footerBottom__left{
    padding-top:20px;
    width:75%;
    font-size:14px;
}
.footerBottom__right{
    width: 25%;
    text-align:right;
    font-size:14px;
    padding-top:20px;
    
}
