/* header */
header {}

.header__top {
  background-color: #3b84b0;
  text-transform: uppercase;
  color: white;
  padding: 10px;
  font-size: 13px;
  font-family: "ArialMT";


}

.header__bottom {
  background-image: url('../image/Mạnh-Cường-Recovered.jpg');
  padding: 14px;
  background-size: cover;
}

.header__bottom h2 {
  font-size: 35px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  color: white;
  font-family: "Opensans";
  text-shadow:0px 1px 3px rgb(81, 80, 80);
 
}

.header__bottom ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: white;
  text-shadow:0px 1px 5px rgb(94, 92, 92);
}

.header__bottom ul li {
  margin-bottom: 10px;
  list-style: none;
}
.header__bottom ul li:last-child{
 margin-bottom:0;
}