nav{
    background-color:#222326;
    
}
.nav__left{
    width:90%;
    
}
.nav__left ul{
    margin:0;
    padding:0;
    display:flex;
}
.nav__left ul li{
    list-style:none;
    position:relative;
    
}

.nav__left ul li a:hover{
    background-color: #696969;
}
.nav__left ul li.active a{
    background-color: #696969;
}
    
.nav__left ul li a{
    text-decoration: none;
    font-size:14px;
    text-transform: uppercase;
    color:white;
    display:block;
    padding:20px;
} 
.nav__left ul li ul.subMenu{
    position: absolute;
   display:none;
    width: 200px;
z-index: 1;
background-color:#696969;

}
.nav__left ul li:hover ul.subMenu{
    display:block;
}


.nav__left ul li ul.subMenu li a{
    display:block;
}
.nav__left ul li ul.subMenu li a:hover{

    background-color: #3b84b0;
    color:white;
}

.nav__right{
    color:white;
    text-align:right;
    width:10%;
    padding:20px;
}


