@media (max-width:767px){
    .container{
        width: 100%;
    }
    .row{
        display:block;
    }
    .icon{
        display:none;
    }
  label, input{
    display: inherit;
   }

   
    nav .row, input#menu{
        display:none;
    }
    input#menu:checked ~ .row{
        display:block;
    }
    nav{
        position:fixed;
        top:0;
        left:0;
    }
    .nav__left ul{
        display:block;
        transition: 0.75s;
    }
    /* nav , input#navbox{
        display:none;
    }
    input#navbox:checked ~ nav{
        display:block;
    }
   nav{
    position:fixed;
    top:0;
    left:0;
    z-index: 2;
   }
   label{
    position:fixed;
    top:0;
    
    z-index: 2;
    left:0;
   }
   .nav__left ul{
    display:block;
    transition: 0.75s;
   } */

   .main__left{
    width: 100%;
   }
  .main__right{
    width: 100%;
    margin:0;
  }
  .productHome__list {
  width: 100%;
    grid-template-columns: auto auto;
}
.productHome__title .row{
    display:flex;
   
}
.asideCategory__title .row{
    display:flex;
}
.asideBestseller__title .row{
    display:flex;
}
.productHome__heading{
    width: 60%;
}
.productHome_link{
    width: 40%;
    padding:15px;
}
.footer{
    width: 100px;
}
.footerTop__aboutUs{
    width: 100%;
}
.footerTop__sitemap{
    width: 100%;
}
.footerTop__products{
    width: 100%;
}
.footerTop__fanpage{
    width: 100%;
}
.footer__top .grid {

    grid-template-columns: auto;
    
}
.footer__bottom{
    width: 100%;

}
.footer__bottom .row{
    display:flex;
}
.footerBottom__left{
    width: 50%;
}
.footerBottom__right{
    width: 50%;
    text-align: left;
}

}